
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color:beige;
  color: #ffff;
  line-height: 1.4em;
}
 h3{
    font-size: 90px;
    text-transform: capitalize;
    line-height: 1em;
  }
 h4 {
    font-size: 45px;
    text-transform: capitalize;
    line-height: 1em;
    letter-spacing: -2px;
    font-family: cursive;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
}
/* HEADER CSS START */
.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header .logo{
  width: 150px;
  height: 80px;
  position: relative;
}
.header .logo img{
  max-width: 150px;
      object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header .wrapper{
  display: flex;
  justify-content: space-between;
}
.header ul{
  display: flex;
  gap:30px;
  text-decoration: none;
  align-items: center;
}
.header ul li{
  text-decoration: none;
  list-style: none;
}
/* HEADER CSS END */
/* HOME CSS START */
/* HERO CSS START */
.hero{
  position: relative;
  background-color: #000;
}
.hero h1{
  font-size:150px;
  text-transform: uppercase;
  line-height: 0.9em;
  font-family: cursive;
}
.hero .row-1 .wrapper{
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  column-gap: 30px;
}
.hero-text{
  max-width: 80%;
  margin-bottom: 50px;
}
.styles_button_goto__Md1Tq {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    --button-goto-duration: 0.5s;
}
.styles_button_goto__bg__l7ZhW {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transform: translateZ(0);
}
span.styles_arrow__nhjkx.undefined.styles_kind_default__gbx2m {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    stroke: #fff;
    z-index: 999;
     transition-delay: 0s;
    transition-timing-function: ease;
}
.styles_button_goto__Md1Tq:hover .styles_button_goto__bg__l7ZhW:after{
    transform:translateY(0);
}
.styles_button_goto__Md1Tq:hover span.styles_arrow__nhjkx.undefined.styles_kind_default__gbx2m {
    stroke: #000 !important;
    color:#000 !important;
}
.styles_button_goto__text__iRwOa:not(.styles_text_inside__74Opp) {
    margin-left: 1.25rem;
}
.styles_button_goto__text__iRwOa {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: Cervo;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 75%;
    color:#fff;
}
.styles_button_goto__bg__l7ZhW .styles_arrow__nhjkx.styles_kind_default__gbx2m {
    color: #fff;
}
.styles_button_goto__bg__l7ZhW .styles_circles___YFtV path {
    stroke: #ffff;
    animation-name: rotate;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform-origin: center;
}
.styles_button_goto__bg__l7ZhW .styles_circles___YFtV path:nth-child(2) {
    animation-duration: 21s;
}
@keyframes rotate{
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-1turn);
}

}
.styles_button_goto__bg__l7ZhW:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 50%;
    transform: translateY(105%);
    transition: transform var(--button-goto-duration);
    transition-delay: 0s;
    transition-timing-function: ease;
    background-color: #fff;
}
.hero .row-2 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
    max-height: 100vh;
    max-width: 100vw;
    margin-bottom: 50px;
    
}
.hero .row-1{
  z-index: 10;
  position: relative;
  padding: 0;
  margin-top: -45%;
}
.hero .row-1 .wrapper{
  /* position: absolute; */
  padding-top: 7.5rem;
}
.hero .row-2 img{
  scale: 2.5;
  object-fit: cover;
  filter: brightness(0.5);
}
.hero .row-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  z-index: 11;
}

.hero .marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.hero .row-3 .text {
  display: inline-flex;
  animation: scroll-left 18s linear infinite;
}

.hero .marquee._2 .text {
  animation: scroll-right 14s linear infinite;
}

.hero .marquee._3 .text {
  animation: scroll-left 22s linear infinite;
}

.hero .row-3 h2 {
  font-size:10vw;
  line-height: 1em;
  white-space: nowrap;
  margin: 0 50px;
  font-weight: bold;
  color: darksalmon;
}

.hero .row-3 h2.fill {
  color: transparent; 
  -webkit-text-stroke: 2px darksalmon; 
  text-stroke: 2px #e9967a; 
}
.hero .row-3 .wrapper{
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  bottom: 200px;*/
} 
.hero .row-3 .marquee{
transform: rotate(-5deg);
}
/* Keyframes  */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }

}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* HERO CSS END */
.features{
  height: 150vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.features img{
width: 600px;
height: 700px;
}
.features .wrapper{
  position: relative;
}
.gif-wrapper img{
    border-radius: calc((37.5rem) / 2) calc((37.5rem) / 2) 0 0;
    overflow: hidden;
}
.curved-text-wrapper svg {
    position: absolute;
    top: -15px;
    overflow: visible;
}
.curved-text-wrapper .text{
  font-size: 56px !important;
}
.curved-text-wrapper textPath{
font-family: cursive;
font-weight: 700;
}
.partnership {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: end;
    padding-bottom: 50px;
    background-image: url(/slava-jamm-t082k5uCLP4-unsplash.jpg);

    background-size: cover;
    background-position: center;
    border-radius: 50px 50px 0px 0;
    overflow: hidden;
    /* background-attachment: fixed; */
}

.partnership::before {
    content: "";
    position: absolute;
    inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0; */
    background: rgba(0, 0, 0, 0.5); /* black overlay with 50% opacity */
    border-radius: 50px 50px 0px 0;
    z-index: 1;
}

.partnership > * {
    position: relative;
    z-index: 2; /* bring actual content above the overlay */
}

.partnership{
  .row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .row-1 h3{
    font-size: 100px;
    text-transform: capitalize;
    line-height: 1em;
  }
  .row-1 .col-2{
    display: flex;
    align-items: end;
  }
}
.modelviewer{
  background-color: #000;
  border-radius: 0 0 100px 100px;
      margin-bottom: -130px;
    z-index: 9999;
    position: relative;
}
.modelviewer .row-1{
  position:sticky;
  top: 70px;
}
.modelviewer .col-1{
  max-width: 420px;
  height: 100vh;
}
.modelviewer .row-2{
  margin-top: -45%;
}
.modelviewer .row-3 .col-1{
  margin-left: auto;
}
footer {
    background-color: darksalmon;
    height: 100vh;
    padding-top: 150px;
}
footer .row-1 h4{
  text-align: center;
}
footer input{
  background: transparent;
  border: unset;
  border-bottom: 2px solid #fff !important;
  outline: unset !important;
  color:#fff;
}

/* HOME CSS END */